@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply min-h-screen bg-slate-900 text-slate-50;
}

section {
  @apply h-screen max-h-[2160px] px-10 md:px-20 py-5 flex justify-between items-center;
}

.PARALLAXBG,
.PARALLAXBGTOP {
  @apply absolute inset-0 -z-10 bg-no-repeat bg-cover;
}

.PARALLAXCONTAINER {
  @apply relative;
}

img {
  @apply w-full h-full object-cover;
}

canvas {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0, -50%) scale(0.6);
}

.section-heading {
  @apply z-10 text-4xl sm:text-5xl md:text-6xl font-black;
}
.section-gallery {
  @apply absolute max-w-[35rem] right-0 lg:static grid grid-cols-2 h-full w-full py-10 -z-50;
}
.section-text {
  @apply lg:bg-transparent bg-slate-800/80 backdrop-blur-xl w-fit p-10 lg:w-full lg:p-0;
}
