@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply min-h-screen bg-slate-900 text-slate-50;
}

section {
  @apply min-h-screen px-20 py-5 flex justify-between items-center;
}

.PARALLAXBG,
.PARALLAXBGTOP {
  @apply absolute inset-0 -z-10;
}
.PARALLAXBG img,
.PARALLAXBGTOP img {
  @apply w-full h-full object-cover;
}

.PARALLAXCONTAINER {
  @apply overflow-hidden relative;
}

img {
  @apply w-full h-full object-cover;
}

canvas {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0, -50%) scale(0.6);
}
